* {
    margin: 0;
    font-family: roboto;
    color: #f2f2f2;
}

/* -------------------------------------------------------------------------- */
/*                                    Menu                                    */
/* -------------------------------------------------------------------------- */

nav {
    background-color: black;
    padding: 20px 0;
}

nav a {
    padding: 20px;
    text-decoration: none;
    font-family: roboto;
    letter-spacing: 2px;
    float: right;
    font-size: 17px;
    text-align: center;

}

nav a:hover {
    background-color:rgb(255, 0, 0, 0.3);
}

.logo {
    float: left;
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: auto;
  }
    

  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }


/* -------------------------------------------------------------------------- */
/*                                    Boddy                                   */
/* -------------------------------------------------------------------------- */

main {
    background-color: black;
     background-image: none;
    background-color: transparent;
}

section {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section-1 {
    background-image: url('https://images2.alphacoders.com/714/714138.jpg');
}

.section-2 {
    background-image: url('https://images7.alphacoders.com/998/998748.jpg');
}

.section-3 {
    background-image: url('https://images7.alphacoders.com/815/815884.jpg');
}

.grid-box-1 {
    padding: 30px;
    background: rgba(8, 8, 7, 0.5);
    border-top: 10px solid rgb(255, 0, 0, 0.5);
    width: 500px;
    backdrop-filter: blur(2px);
}

h1 {
    text-shadow: 1px 1px 1px white;
    font-weight: 200;
    padding: 20px;
}

p {
    font-size: 17px;    
    padding: 20px;
}

.grid-box-1 a{
    padding: 20px;
    font-size: 17px;    
    text-decoration: none;
}

.grid-box-1 a:hover{
    background-color: rgb(255, 0, 0, 0.3);

}
section:nth-child(3) .grid-box-1 {
    order: 2;
}

/* -------------------------------------------------------------------------- */
/*                              To The top bottom                             */
/* -------------------------------------------------------------------------- */

#myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(255, 0, 0, 0.7);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: red;
  }

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */
footer {
    background-color: black;
    text-align: center;
    font-size: 17px;}

img{
    height: 17px;
}

/* -------------------------------------------------------------------------- */
/*                                media querys                                */
/* -------------------------------------------------------------------------- */
@media screen and (max-width:1000px) {
    section {
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .grid-box-1 {
        padding: 5%;
        background: rgba(8, 8, 7, 0.5);
        border-top: 10px solid rgb(255, 0, 0, 0.5);
        width: auto;
        margin: 20%;
        font-size: 12px;
    }
    p {
        font-size: 12px;
        padding: 5%;

    }
    .grid-box-1 a {
        font-size: 12px;  
        padding: 5%;

    }
    h1{
        padding: 5%;

    }
  }
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: none;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: right;
    }
  }